/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

.cta-button {
	background-color: $primary-variant;
	color: white;
	margin-top: 15rem;	
	&:hover {
		color: white;
	}
}

@media (max-width: 1024px) {
	.desktop {
		display: none;
	}

	.navbar-menu {
		background-color: black;
	}
}