<nav
  class="navbar is-transparent"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src=<%= asset_path 'logo.png' %> alt="No Stories logo"
      style="max-height: 5rem;" />
    </a>

    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarMenu"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMenu" class="navbar-menu has-text-right">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Documentation
      </a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item">
        Log in
      </a>

      <a class="navbar-item">
        <strong>Sign up</strong>
      </a>
    </div>
  </div>
</nav>
